<div class="jumbotron jumbotron-header">
    <div class="info-container">
        <p>Ampel Health provides easy to integrate health experience surveys through a customizable platform with real-time insights that make sense to healthcare systems.</p>
        <div class="btn btn-primary" id="start-free-trial" data-toggle="modal" data-target="#signupModal">start a free trial</div>
    </div>
</div>

<div class="jumbotron jumbotron-infographs row">
    <p>capture the patient experience with ease</p>
    <div class="infograph-wrapper row">
        <div class="infograph info-1 col-md-3">
            <img src="assets/infograph1"/>
            <p>Doctor - Patient Visit</p>
        </div>
        <div class="infograph col-md-3">
            <img src="assets/infograph2"/>
            <p>Patient completes survey via Ampel in under 3 min</p>
        </div>
        <div class="infograph col-md-3 ">
            <img src="assets/infograph3"/>
            <p>Practice gains distinct insights and can fully customize capturing the patient experience process</p>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-slogan">
    <img src="/assets/pier.png" />
    <h2>BETTER HEALTHCARE, HAPPY PATIENTS.</h2>
    <div class="info-box">
        <p>In partnership with care providers, Ampel Health is transforming simple feedback into practical insight.</p>
    </div>

</div>

<div class="jumbotron jumbotron-mobile-images row">
    <div class="col-md-4 col-sm-3">
        <div class="mobile-wrapper" id="mobile1">
            <p>Gather Insights</p>
            <img id="arrow-1" src="assets/arrow.jpg" />
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div id="physician-insights">
        </div>
        <div class="btn btn-primary" id="signup" data-toggle="modal" data-target="#signupModal">sign up</div>
    </div>
    <div class="col-md-4 col-sm-3">
        <div class="mobile-wrapper" id="mobile2">
            <img id="arrow-2" src="assets/arrow.jpg" />
            <p>Customize surveys</p>
        </div>
    </div>
</div>


<!-- sign up modal -->
<div id="signupModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign up for more info</h4>
        </div>
        <div class="modal-body">
            <p>Please submit your email below for more information about our services.</p>
            <!-- <form class="form-horizontal" role="form">
              <div class="form-group">
                <label  class="col-sm-2 control-label"
                          for="inputName">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" 
                    id="inputName" placeholder="Name"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"
                      for="inputEmail" >Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control"
                        id="inputEmail" placeholder="Email"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label"
                      for="inputMessage" >Message</label>
                <div class="col-sm-10">
                    <input type="textarea" class="form-control"
                        id="inputMessage" placeholder="Message"/>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form> -->
            <%= bootstrap_form_for :signup, url: signups_path do |f| %>
              <p>
                <%= f.text_field :name %>
              </p>
             
              <p>
                <%= f.text_field :email %>
              </p>
             
              <p>
                <%= f.text_field :message %>
              </p>

              <p>
                <%= f.submit "Submit"%>
              </p>
            <% end %>
        </div>
    </div>

  </div>
</div>
